<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><b><i>Lookback</i></b></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><b>Add Posts</b></a></li>
    </ul>
    <a routerLink='/logout'> <button class="btn btn-danger navbar-btn">Logout</button></a>
  </div>
</nav>
 <div class="row">
    
  <div class="col-xl-3 col-sm-6 mb-3" *ngFor="let urldata of img; let i=index">
     
    <div class="card-body">
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="{{urldata}}">    <div class="card-body">
  <p class="card-text"><b>{{desc[i]}}</b></p>
</div>
</div>
</div>

</div>
 
 
  
    



</div>
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
[speed]="20000" [showSpinner]="true" 
[color]="'orange'" [trickleSpeed]="20" [thick]="true" [ease]="'linear'"
></ng-progress>
